body {
    width: 1280px;
    height: 960px;
}
.initial {
    background-color: hsl(347, 74%, 61%, 10%) ;
    display: flex;

}
.main1 {
    font-family: 'Lato', sans-serif;
}

.second {
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 130px;
    font-weight: 700;

}
.third {
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 100;
}
#Shop{
    background-color: #E55473;
    margin-left: 200px;
    margin-bottom: 100px;
    padding:10px 10px 10px 10px;
    border: 0px;
    color: white;
    border-radius: 5px;
}
.bonus {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 480px;
    margin-right: 480px;
}
ul {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}
 .img1{ 
    background-color: hsl(331, 67%, 39%, 10%);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 80px;
    padding-left: 50px;
    margin-bottom: 2PX;
    margin-right: 20px;
    margin-left: 0px;
 }
.img2 {
    background-color: hsl(183, 94%, 32%, 15%);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 80px;
    padding-left: 80px;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 2PX;
    margin-left: 20px;
}
.img3 {
    background-color: hsl(90, 76%, 28%, 15%);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 80px;
    padding-left: 40px;
    margin-right: 2px; 
    margin-bottom: 2PX;

}.sis {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
div {
    background-color: hsl(347, 74%, 61%, 10%);  
}

nav {
    padding-left: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.color {
    color: #E55473;
}

.color1 {
width: 300px;
}
.sign {
    padding: 10px 10px 10px 10px;
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    color: white;
    margin-left: 70px;

}
.deals {
    display: flex;
}
.img4 {
    background-color: hsl(347, 74%, 61%, 10%);
}