html body {
    position: fixed;
}
.initial {
    background-color: hsl(347, 74%, 61%, 10%) ;
}
nav {
    font-family: 'Lato', sans-serif;
}
.second {
    padding-left: 100px;
    padding-right: 1000px;
}
.third {
    padding-left: 100px;
    padding-right: 800px;
}
#Shop{
    background-color: #E55473;
    margin-left: 100px;
}